*/target/
/.idea/
./.vscode
*/.env
.env
*.pub
*.iml
*.pem
/*.jks
*.db
/file-uploads
/uploads
/merged
/controller-uploads
audio_files_cache.txt

/**/*.properties
/qodana.yaml
/*.ps1
/ci_cd
/target
/audio
/audio_files

*.sql
