name: Deploy

#on:
#  push:
#    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          #username: ${{ secrets.SSH_USERNAME }}
          username: kneobroadcaster
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: ./deploy.sh